.properties-N6 {
  overflow: hidden;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.properties-N6 .contents-inner {
  width: 100%;
}

.properties-N6 .n6-image-list {
  display: flex;
  flex-direction: column;
}

.properties-N6 .n6-image-item {
  overflow: hidden;
  border-radius: 0.8rem;
}

.properties-N6 .n6-image-item+.n6-image-item {
  margin-top: 2.4rem;
}

.properties-N6 .n6-image-item img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .properties-N6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .properties-N6 .n6-image-item+.n6-image-item {
    margin-top: 1.6rem;
  }
}
